$gray-color: #1e3932;
$light-cyan: #d4e9e2;
$light-wheat: #f3f1e7;
$sb-green: #008248;
$light-sky: #f1f8f6;

html, body {
    padding: 0;
    margin: 0;
}

h1 {
    color: $sb-green;
    font-weight: bold;
}